:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  box-shadow: inset white 2px 2px 3px, inset white -2px -2px 3px;
}

.submit {
  background-color: #502f02;
  color: #f8dac3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #502f02;
    background-color: #a5725c;
  }
  a:hover {
    color: #747bff;
  }
}

.home-page {
  background-image: url('./assets/home_background.png');
  background-color: #d5ecd5;
  overflow: hidden;
  padding: 0;
  background-position: center;
  height: 90vh;
  width: 100%;
}

label {
  padding-right: 5px;
}

button {
  margin-top: 15px;
}

.user-form {
  border: 2px solid #f8dac3;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 30%;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

input {
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.company-name {
  animation: glow 2.5s infinite ease-in;
}

@keyframes glow {
  0% {
    text-shadow: 4px -2px 2px #f8e2c9;
  }

  50% {
    text-shadow: none;
  }

  100% {
    text-shadow: 4px -2px 2px #f8e2c9;
  }
}

p {
  font-size: 24px;
}

.home-button {
  background-color: #502f02;
  outline: 2px solid #f8e2c9;
  color: #f8e2c9;
}

.home-button:hover {
  outline: 2px dashed #f8e2c9;
  box-shadow: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.App {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Add these styles for your new pages */
.confirmation-page, 
.sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}